:root {
    --primary-yellow: #FFD700;
    --bg-black: #0a0a0a;
    --card-bg: #141414;
    --text-gray: #888;
    --text-white: #ffffff;
}

.avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--primary-yellow);
    cursor: pointer;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.avatar-hover-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Escurece a foto */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Invisível */
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.hover-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFD700;
}

.hover-content span {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}

/* Quando o mouse passa no WRAPPER, a LABEL aparece */
.avatar-wrapper:hover .avatar-hover-label {
    opacity: 1;
}

/* Opcional: Desfoca levemente a foto ao fundo */
.avatar-wrapper:hover .avatar-img {
    filter: blur(2px);
}


.avatar-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
}

.file-input {
    color: #d1d5db;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #9ca3af;
}

.form-group input {
    background: #050505;
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 10px;
    color: white;
    outline: none;
    transition: .2s;
}

.form-group input:focus {
    border-color: #facc15;
}

.divider {
    margin: 40px 0;
    border-top: 1px solid #262626;
}

.success {
    border-left: 5px solid #28a745;
    background: linear-gradient(135deg, #03470e, #00b351);
    color: #f5f5f5;


}

.error {
    border-left: 5px solid #dc3545;
    background: linear-gradient(135deg, #ff4d4d, #b30000);
    color: #f5f5f5;
}

.warning {
    border: 1px solid #FFD700;
    background: linear-gradient(135deg, #FFD700, #fffb00);
    color: #f5f5f5;

}

#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999 !important;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.toast {
    animation: slideIn 0.3s ease-out;
    background: #121212;
    color: #f5f5f5;
    padding: 16px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.toast.success span {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.toast.success {
    border-left: 5px solid #28a745;
    background: linear-gradient(135deg, #03470e, #00b351);
    color: #f5f5f5;
}

.toast.error {
    border-left: 5px solid #dc3545;
    background: linear-gradient(135deg, #ff4d4d, #b30000);
    color: #f5f5f5;
}

.toast.error span {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.toast.warning {
    border: 1px solid #FFD700;
    background: linear-gradient(135deg, #6f6117, #bebb00);
    color: #f5f5f5;
}

.toast.warning span {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.toast.hiding {
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* perfil avaliacoes */
.main-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.profile-header {
    text-align: center;
    margin-top: 20px;
}

.avatar-container {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--primary-yellow);
    object-fit: cover;
    padding: 3px;
}

.verified-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: var(--primary-yellow);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verified-badge svg {
    width: 14px;
    color: black;
}

.profile-name {
    font-size: 2rem;
    font-weight: 800;
    margin: 20px 0 5px 0;
}

.profile-title {
    color: var(--primary-yellow);
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}


.location {
    color: var(--text-gray);
    font-size: 0.9rem;
    margin-top: 10px;
}

.location p {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.location svg {
    fill: var(--text-gray);
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px 0;
}

.stat-card {
    background: var(--card-bg);
    border: 1px solid #222;
    padding: 15px 5px;
    border-radius: 15px;
    text-align: center;
}

.stat-value {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

.stat-label {
    font-size: 0.6rem;
    color: var(--text-gray);
    font-weight: bold;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.mini-rating {
    background: #1a1a1a;
    padding: 4px 10px;
    border-radius: 8px;
    color: var(--primary-yellow);
    font-weight: bold;
}

.rating-card {
    background: var(--card-bg);
    border-radius: 25px;
    padding: 25px;
    border: 1px solid #222;
    margin-bottom: 2rem;
}

.rating-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.rating-big-number .number {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;
}

.stars-row {
    color: var(--primary-yellow);
    margin-top: 5px;
    margin-left: 15px;
}

.rating-count {
    text-align: right;
}

.rating-count p {
    color: var(--text-gray);
    margin: 0;
    font-size: 0.9rem;
}


.btn-book {
    width: 100%;
    background: var(--primary-yellow);
    border: none;
    padding: 18px;
    border-radius: 15px;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}

.stars-input-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
}

.hidden-input {
    display: none !important;
}

.star-label {
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    transition: all 0.2s;
}

.star-label:hover,
.star-label:hover~.star-label,
.hidden-input:checked~.star-label {
    color: #ffd700;
    transform: scale(1.1);
}

.slots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.slot {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
}

.slot:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.slot.selected {
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.slot.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: #222;
}

/* Container das redes sociais */
.social-links-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

/* Base para todos os ícones */
.social-icon {
    font-size: 1.6rem;
    transition: transform 0.3s ease, filter 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.icon-whatsapp {
    color: #25D366;
}

.icon-instagram i {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-facebook {
    color: #1877F2;
}

.icon-site {
    color: #FFD700;
}

/* desktop */
@media (min-width: 1024px) {
    .main-container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
        padding-top: 50px;
    }

    .profile-header {
        grid-column: 1 / 2;
        text-align: center;
    }

    .avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
    }

    .stats-grid {
        grid-column: 1 / 2;
    }

    .satisfaction-section {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

@media(max-width:768px) {

    .perfil-container {
        padding: 20px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .avatar-area {
        flex-direction: column;
        align-items: center;
        align-items: center;
    }

}