{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <div class="login-container">
    <div class="login-header">
      <div class="logo-circle">
        <i class="fas fa-lock-open"></i>
      </div>
      <h1>NOVA<span>SENHA</span></h1>
      <p class="subtitle">Defina sua nova credencial de acesso</p>
    </div>

    <form method="POST" class="login-form">
      {% csrf_token %}

      <p style="color: #ccc; font-size: 0.9rem; margin-bottom: 20px;">Por favor, digite sua nova senha duas vezes para garantir que está correta.</p>

      {% for field in form %}
        <div class="input-group">
          <label>{{ field.label|upper }}</label>
          <div class="input-wrapper">
            <i class="fas fa-key"></i>
            <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" placeholder="************" required />
          </div>
          {% if field.errors %}
            <small style="color: #e74c3c;">{{ field.errors.0 }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn-primary" style="font-weight: bold; padding: 1.2rem; width: 100%; margin-top: 10px;  justify-content: center;">ALTERAR SENHA</button>
    </form>
  </div>
{% endblock %}
